// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background: #2B2B2B;
  position: relative;
}

.top-bar {
  background: #2B2B2B;
  height: 100px;
}

.logo {
  width: 200px;
  margin: 15px;
}

.top-bar-section {
  li {
    margin-top: 15px;
    margin-right: 15px;
  }
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  input {
    width: 400px;
    margin: 10px auto;
  }
}

.gramblock {
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  background: black;
  border-radius: 5px;
  position: relative;
}
.image {
  height: 90%;
  position: relative;
}
.fa {
  color: #CECECE;
}
.likenum {
  color: #CECECE;
}
.hidden {
  position: absolute;
  left: 50%;
  left: 90px;
  bottom: 50%;
  bottom: 90px;
  color: white;
  visibility: hidden;
}
.shown {
  position: absolute;
  left: 50%;
  left: 90px;
  bottom: 50%;
  bottom: 90px;
  color: white;
}





